DATABASE_URL=
PORT=3001
NODE_ENV=development

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

JWT_SECRET=
ADMIN_JWT_SECRET=

CORS_ORIGINS=https://fanspump.xyz,https://admin.fanspump.xyz
